#sneakerHeader {
	height: 15em;
    width: 100%;
	background: url("../images/nua.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.sneaker {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
	text-decoration: none;
	text-shadow: 0 0 10px #000;
	color: #fff;
}

.row:after {
	content: "";
	clear: both;
	display: block;
}

#main {
	height: 440px;
	width: 440px;
	overflow: hidden;
	float: right;	
}

table {
	float: left;
    margin-bottom: 1.5em
}   

td {
	height: 107px;
	overflow: hidden;
    width: 107px;
}

td img {
	float: left;
    height: 107px;
    width: 107px;
	position: relative;
}

p {
    clear: both;
}

/* Form */
input, button {
    border: 1px solid #ccc;
    border-radius: .3em;
    display: inline-block;
    margin: .5em 0;
    padding: 1em 1.5em;
    width: 100%;
}

select {
    border-radius: .3em;
    cursor: pointer;
    font-size: 1em;
    padding: 1.5em 1.5em;
    margin: .5em 0;
    width: 100%;
}

#areaCode, #firstNum {
    width: 15%;
    padding-left: 3em;
}

#secondNum {
    width: 20%;
    padding-left: 4em;
}

.tel-number {
    margin: .5em .2em;
    padding: .4em 1em;
}
